Dockerfile
.dockerignore
node_modules
npm-debug.log
yarn-error.log
.git
.next
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
*.txt
[wW]ebsite
README.md

# VS Code & Workspace
*.code-workspace
.vscode/

# Temp files
tmp_*
ultimate_truth.ts